*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

label, thead{
    font-weight: bold;
    color: #c0b0b0;
}

body{
    background-color: #323335;
    padding-top: 100px;
}

header{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

header img{
    height: 70px;
    margin-right: 16px;
}

header h1{
    font-size: 40px;
    font-weight: bold;
    color: #c0b0b0;
}

.container{
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

form {
    display: flex;
    max-width: 750px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 56px;
}

form input{
    font-size: 24px;
    background-color: #323335;
    border: none;
    border-bottom: 2px solid #000;
    padding: 8px;
    margin-top: 10px;
    color: #ffffff;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

label{
    font-size: 24px;
    font-weight: bold;
}

form button{
    background-color: #2f6cb6;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    padding: 8px;
    height: min-content;
    width: 210px;
    align-self: end;
}

table{
    width: 100%;
}

table th{
    border-bottom: 2px solid #000;
    padding: 16px;
    font-size: 24px;
    font-weight: bold;
}

table td{
    padding: 16px 0;
    text-align: center;
    font-size: 18px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    color: #ffffff;

}